@media (max-width:1205px){

    body{
        overflow-x: hidden;
        max-width: 90%;
    }

    .container-columns{
        flex-direction: column;
        margin: 20px;
    }

    .coluna{
        width: 350px;
    }

    footer{
        font-size: 13px;
    }

    #amarelo{
        border-radius: 10px 10px 0px 0px;
    }

    #verde{
        border-radius: 0px 0px 10px 10px;
    }
}
